<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMGSY_Classifier</title>
    <link rel="stylesheet" href="../static/Styles/bootstrap.css">
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>

<body>
    <div class="container-fluid" id="title">
        <h2>Pradhan Mantri Gramin Sadak Yojna Scheme Predictor</h2>
    </div>

    {% if ans %}
        <div class="alert alert-success" id="answer" role="alert">
            Your Project Comes Under the {{ans}} Scheme
        </div>
    {% endif %}

    <div class="container">
        <div class="container-fluid" id="form">
            <form action="{{url_for('home')}}" method="POST">
                <div class="form-group">
                    <label for="fieldname">Enter your State</label>
                    <input type="text" name="state" class="form-control" id="fieldname" placeholder="Enter name">

                </div>
                <div class="form-group">
                    <label for="fieldname">Enter your District</label>
                    <input type="text" name="district" class="form-control" id="fieldname" placeholder="Enter name">

                </div>
                <div class="form-group">
                    <label for="fieldname">How many Road Work Sanctioned</label>
                    <input type="number" name="NO_OF_ROAD_WORK_SANCTIONED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Length of the Road Work Sanctioned</label>
                    <input type="number" name="LENGTH_OF_ROAD_WORK_SANCTIONED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">How many Bridge Work Sanctioned</label>
                    <input type="number" name="NO_OF_BRIDGES_SANCTIONED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Cost of Work Sanctioned</label>
                    <input type="number" name="COST_OF_WORKS_SANCTIONED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">How many Road Work is completed</label>
                    <input type="number" name="NO_OF_ROAD_WORKS_COMPLETED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>

                <div class="form-group">
                    <label for="fieldname">How much Length of Road Work is completed</label>
                    <input type="number" name="LENGTH_OF_ROAD_WORK_COMPLETED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>

                <div class="form-group">
                    <label for="fieldname">How many Bridges are completed</label>
                    <input type="number" name="NO_OF_BRIDGES_COMPLETED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">How much is the Expenditure till now </label>
                    <input type="number" name="EXPENDITURE_OCCURED" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Number of Road work Balance</label>
                    <input type="number" name="NO_OF_ROAD_WORKS_BALANCE" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Length of Road Work Balance</label>
                    <input type="number" name="LENGTH_OF_ROAD_WORK_BALANCE" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Number of Bridges Balance</label>
                    <input type="number" name="NO_OF_BRIDGES_BALANCE" class="form-control" id="fieldname"
                        placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="button">Submit</button>
                </div>
            </form>
            <div class="bubble-section">
                <div class="bubble bubble1"><img src="../static/Images/Img1.jpg" alt="Image 1"></div>
                <div class="bubble bubble2"><img src="../static/Images/Img2.jpg" alt="Image 2"></div>
                <div class="bubble bubble3"><img src="../static/Images/Img3.avif" alt="Image 3"></div>
            </div>
        </div>
        
</body>

</html>