<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMGSY_Classifier</title>
    <link rel="stylesheet" href="../Styles/bootstrap.css">
    <link rel="stylesheet" href="../Styles/style.css">
</head>

<body>
    <div class="container-fluid" id="title">
        <h2>Pradhan Mantri Gramin Sadak Yojna Scheme Predictor</h2>
    </div>

    <div class="container">
        <div class="container-fluid" id="form">
            <form>
                <div class="form-group">
                    <label for="fieldname">Enter your State</label>
                    <input type="text" class="form-control" id="fieldname" placeholder="Enter name">

                </div>
                <div class="form-group">
                    <label for="fieldname">Enter your District</label>
                    <input type="text" class="form-control" id="fieldname" placeholder="Enter name">

                </div>
                <div class="form-group">
                    <label for="fieldname">How many Road Work Sanctioned</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Length of the Road Work Sanctioned</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">How many Bridge Work Sanctioned</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Cost of Work Sanctioned</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">How many Road Work is completed</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>

                <div class="form-group">
                    <label for="fieldname">How much Length of Road Work is completed</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>

                <div class="form-group">
                    <label for="fieldname">How many Bridges are completed</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">How much is the Expenditure till now </label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Number of Road work Balance</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Length of Road Work Balance</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <label for="fieldname">Number of Bridges Balance</label>
                    <input type="number" class="form-control" id="fieldname" placeholder="Enter Amount">

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="button">Submit</button>
                </div>
            </form>
            <div class="bubble-section">
                <div class="bubble bubble1"><img src="../Images/Img1.jpg" alt="Image 1"></div>
                <div class="bubble bubble2"><img src="../Images/Img2.jpg" alt="Image 2"></div>
                <div class="bubble bubble3"><img src="../Images/Img3.avif" alt="Image 3"></div>
            </div>
        </div>
</body>

</html>